.input-container {
  margin-bottom: 10px;
}

.expense-container {
  margin-bottom: 25px;
}

.expense-item {
  margin-left: 10px;
}

.expense-container.regular {
  background-color: hsl(60, 70%, 85%);
}

.expense-container.non-regular {
  background-color: hsl(0, 70%, 85%);
}
