.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #E6E6FA;
    padding: 15px;
}

.btn-container {
    display: flex;
    align-items: center;
}

.btn {
    margin-left: 30px;
    padding: 5px 20px;
    border-radius: 10px;
}

.selected {
    border: 2px solid #4E0774;
}