.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #e6e6fa;
  padding: 15px;
  height: 70px;
}

.logo-container {
  margin-right: 10px;
  margin-left: 40px;
}

.logo-container img {
  width: 80px;
  height: auto;
}

.title {
  margin-left: 10px;
  margin-right: auto;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.btn-container-header {
  display: flex;
  align-items: center;
  margin-right: 40px;
}